name: Auth and File

on: 
  workflow_dispatch:
  repository_dispatch:
    types: ["manual_trigger"]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Push Random File
        run: |
          echo $(date +"%Y-%m-%d_%H-%M-%S"), $RANDOM >> random.csv
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add random.csv
          git commit -m "random bot entry"
          git push
      - name: Create Issue Using REST API
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Automated issue for commit: ${{ github.sha }}",
            "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ github.sha }}_."
            }'

