name: Contexts

on: 
  workflow_dispatch:
  repository_dispatch:
    types: ["manual_trigger"]

env:
  myNull: ${{ null }}
  myBoolean: ${{ false }}
  myIntegerNumber: ${{ 711 }}
  myFloatNumber: ${{ -9.2 }}
  myHexNumber: ${{ 0xff }}
  #myExponentialNumber: ${{ -2.99-e2 }}
  myString: ${{ 'Mona the Octocat' }}
  myEscapedString: ${{ 'It''s open source!' }}

jobs:
  contexts:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"
  expressions:
    runs-on: ubuntu-latest
    steps:
      - name: Expression Dumps
        run: |
          echo "myNull: $myNull"
          echo "myBoolean: $myBoolean"
          echo "myIntegerNumber: $myIntegerNumber"
          echo "myFloatNumber: $myFloatNumber"
          echo "myHexNumber: $myHexNumber"
          echo "myExponentialNumber: $myExponentialNumber"
          echo "myString: $myString"
          echo "myEscapedString: $myEscapedString"
    

